html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    width: 100%;
}

.navbar-brand img {
    height: 5rem;
    width: auto;
    border-radius: 3rem;
}
